/*左侧导航栏 */
.sidebar {
	display: block;
	float: left;
	width: 200px;
	background: #e6e6e6;
}

.content {
	display: block;
	overflow: hidden;
	width: auto;
}

.sidebar-nav {
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	background-repeat: repeat-x;
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff333333',
		endColorstr='#ff222222', GradientType=1);
}

.sidebar-nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.sidebar-nav a,.sidebar-nav a:hover,.sidebar-nav a:focus,.sidebar-nav a:active
	{
	outline: none;
}

.sidebar-nav ul li,.sidebar-nav ul a {
	display: block;
}

.sidebar-nav ul a {
	padding: 10px 20px;
	color: black;
	border-top: 1px solid rgba(0, 0, 0, 0.3);
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
}

.sidebar-nav ul a:hover,.sidebar-nav ul a:focus,.sidebar-nav ul a:active
	{
	text-decoration: none;
}
/* 添加绿色前缀 */
/* .active>a:first-child { */
.activefirstli>a {
	background-image: linear-gradient(to right, #7FC042 10px, #E6E6E6 10px);
}
/* 一级菜单调整 */
#menu>li>a:hover,#menu>li>a:focus,#menu>li>a:active {
	background-image: linear-gradient(to right, #7FC042 10px, #E6E6E6 10px);
	cursor: pointer;
}

.sidebar-nav ul ul a {
	color:#7c7c7c;
	padding: 10px 30px;
	background-color: rgba(255, 255, 255, 0.1);
}
/* 二级菜单调整 */
.sidebar-nav ul ul a:hover,.sidebar-nav ul ul a:focus,.sidebar-nav ul ul a:active
	{
	/* background-color: #C3C3C3; */
	background-image: linear-gradient(to left, #E6E6E6 20px, #7C7C7C 20px);
	cursor: pointer;
	color:#C3C3C3;
}

#menu>li>a {
	
	font-size: 17px;
}
/* #menu>li>ul>li>a{
	color:#7c7c7c;
}
#menu>li>ul>li>a:hover{
	color:#C3C3C3;
} */
#menu>li {
	font-family: STKaiti;
	font-weight: bold;
}

.sidebar .sidebar-nav .activeli a {
	/* background-image: linear-gradient(to right, #C3C3C3 200px, #E6E6E6 10px); */
	color:#C3C3C3;
	background-image: linear-gradient(to left, #E6E6E6 20px, #7C7C7C 20px);
	
	cursor: pointer;
}
.activeli>a{
	color:#C3C3C3 !important;
}

.sidebar-nav-item {
	padding-left: 5px;
}

.sidebar-nav-item-icon {
	padding-right: 5px;
}

#rtlh3 small {
	transform: rotateY(180deg);
	display: inline-block;
}

/* 头 */
.div_head>div,.div_head_li>ul,.div_head_li>li {
	margin: 0;
	padding: 0;
	border: 0;
}

.div_head_li {
	width: 98%;
	height: 50px;
	margin-left: 10px;
	float: left;
}

#testtitle {
	width: 90px;
	height: 30px;
	background-color: #7EC03F;
	/* 	background-color: #00ff00; */
	float: right;
	text-align: center;
	line-height: 30px;
	margin-top: 2px;
	margin-right: 20px;
	font-family: STKaiti;
	font-weight: bold;
	letter-spacing:2px;
	color:white;
}

.div_head {
	height: 120px;
	/* width: 1329px; */
	 width: 100%;
	margin: 0px auto;
}

.div_head_li ul {
	position: relative;
	left: 50%;
	float: left;
}

.div_head_li li {
	position: relative;
	right: 50%;
	display: inline;
	float: left;
	margin-left: 10px;
	line-height: 38px;
}

.div_head_li li a {
	/* font-family: STKaiti;
	font-size: 17px; */
	color: #679A7A;
	/* 	color:#67A77B; */
	font-weight: bold;
	font-family: STKaiti;
}

.div_head_li ul li:first-child {
	/* font-family: STKaiti;
	font-size: 17px; */
	color: #9c9c9c;
	/* 	color:#67A77B; */
	font-weight: bold;
	font-family: STKaiti;
}

#rightbar {
	height: 30px;
}

#rightbar ul {
	position: relative;
	text-align: right;
}

#rightbar li {
	position: relative;
	display: inline;
	margin-left: 10px;
	line-height: 38px;
}

#rightbar ul li a {
	color: #679A7A;
	/* 	color:#67A77B; */
	font-weight: bold;
	font-family: STKaiti;
}

#rightbar ul li:first-child {
	/* font-family: STKaiti;
	font-size: 17px; */
	color: #9c9c9c;
	/* 	color:#67A77B; */
	font-weight: bold;
	font-family: STKaiti;
}

#greenline {
	height: 8px;
	background-color: #7EC03F;
	/* 	background-color: #00ff00; */
	margin-top: 5px;
}

#grayline {
	height: 5px;
	background-color: #D4D4D4;
	margin-top: 40px;
}

body{
	padding: 0;
	margin: 0;
	height: 100%;
    width: 100%;
	min-width: 960px;
}

#right {
	/* border-top: 1px solid #E9E9E9; */
	padding-left: 220px;
}