/* tabs style start */
#tabs .ui-widget-header {
	height: 43px;
}

#tabs ul li.ui-tabs-active a {
	outline: 0 none;
}

#tabs ul li {
	width: 150px;
	font-family: STKaiti;
	font-size: 17px;
	font-weight: bold;
}

#infoarea>ul {
	list-style-type: none;
	margin-top: 10px;
	margin-left: -20px;
}

#infoarea>ul>li {
	height: 40px;
}

.infoli>div:first-child {
	float: left;
	width: 150px;
	font-family: STKaiti;
	font-size: 16px;
	height: 28px;
	font-weight: bold;
}

.infoli>div:last-child {
	float: right;
	font-size: 14px;
	width: 200px;
	height: 28px;
	text-align: center;
	line-height: 30px;
	margin-right: 40px;
	/* color: #679c7e; */
	color: #679A7A;
	margin-top: -9px;
	font-family: STKaiti;
}

.infoli+div {
	margin-left: 120px;
	height: 20px;
	color: #9c9c9c;
	font-family: STKaiti;
	font-weight: bold;
}

#flag1 {
	position: absolute;
	width: 20px;
	height: 27px;
	background: url(images/flag1.png) 0 0 no-repeat;
	background-position: 0px -20px;
	border-radius: 10px;
	top: 222px;
	left: 400px;
	cursor: pointer;
}

#flag1:hover {
	/* background-position: -115px -20px; */
	background-position: -23px -20px;
}

#flag2 {
	position: absolute;
	width: 18px;
	height: 22px;
	background: url(images/flag.png) 0 0 no-repeat;
	background-position: -125px -194px;
	border-radius: 10px;
	/* top:222px;
	left:400px; */
}

.opbutton {
	font-size: 12px;
	width: 35;
	cursor: pointer;
}

.ui-autocomplete {
	z-index: 299;
}

.grayImag {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}
/* tabs style end */

/* tablelist style start */
.tools {
    height: 35px;
    margin-bottom: 8px;
}
.toolbar {
    float: left;
	margin: 0;
	padding:0;
}
.toolbar li {
	display: block;
    list-style: outside none none;
    background: rgba(0, 0, 0, 0) url("../images/tablelist/toolbg.gif") repeat-x scroll 0 0;
    border: 1px solid #d3dbde;
    border-radius: 3px;
    cursor: pointer;
    float: left;
    height: 33px;
    line-height: 33px;
    margin-right: 5px;
    padding-right: 10px;
}
.toolbar li span {
    float: left;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 5px;
}
.toolbar1 {
    float: right;
	display: block;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.toolbar1 li {
    background: rgba(0, 0, 0, 0) url("../images/tablelist/toolbg.gif") repeat-x scroll 0 0;
    border: 1px solid #d3dbde;
    border-radius: 3px;
    float: left;
    height: 33px;
    line-height: 33px;
    margin-left: 5px;
    padding-right: 10px;
}
.toolbar1 li span {
    float: left;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 5px;
}
.tablelist {
    border: 1px solid #cbcbcb;
    width: 90%;
	font-family: "微软雅黑";
	font-size: 9pt;
}
.tablelist th {
    background: rgba(0, 0, 0, 0) url("../images/tablelist/th.gif") repeat-x scroll 0 0;
    border-bottom: 1px solid #b6cad2;
	border-right: 1px dotted #c7c7c7;
    height: 34px;
    line-height: 34px;
    text-align: left;
    text-indent: 11px;
}
.tablelist td {
    border-right: 1px dotted #c7c7c7;
    line-height: 35px;
    text-indent: 11px;
}

.tablelink {
    color: #056dae;
}
.tablelist tbody tr:nth-child(even){
    background: #f5f8fa none repeat scroll 0 0;
}
.tablelist tbody tr:hover {
    background: #e5ebee none repeat scroll 0 0;
}
/* tablelist style end */

/* dialog start */
.ui-dialog-title {
	background: rgba(0, 0, 0, 0) url("../images/dialog_title.png") repeat-x scroll 0 0;
}
.dialogTab {
	margin: 0;
	font-size: 11pt;
	font-family: "微软雅黑";
}
.forminfo ul {
    display: block;
    list-style: outside none none;
}
.forminfo  li {
    clear: both;
    margin-bottom: 13px;
    display: block;
    list-style: outside none none;
}
.forminfo li label {
    display: block;
    float: left;
    line-height: 34px;
    width: 120px;
	font-weight:normal;
}
.forminfo input[type="text"], .forminfo input[type="password"]{
    background: rgba(0, 0, 0, 0) url("../images/inputbg.gif") repeat-x scroll 0 0;
    border-color: #a7b5bc #ced9df #ced9df #a7b5bc;
    border-style: solid;
    border-width: 1px;
    height: 32px;
    line-height: 32px;
    text-indent: 10px;
    width: 220px;
}
.forminfo input[type="checkbox"]{

}
.forminfo .boxSpan{
    height: 32px;
    line-height: 32px;
}
.forminfo .btn{
    width: 137px;
    height: 35px;
    background: url(../images/btnbg.png) no-repeat;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}
/***** 输入框（无边框悬停状态） *****/
.uew-select .uew-select-value{height:32px;padding:0 5px; margin-top:0px; margin-bottom:12px;line-height:32px;font-family:Tahoma,'微软雅黑','宋体';*font-family:'微软雅黑','宋体';color:#000;resize:none;border-width:1px;border-style:solid;border-color:#a7b5bc #ced9df #ced9df #a7b5bc;}
.uew-border-flag,.uew-border-flag,textarea.uew-border-flag,.uew-select .uew-select-value.uew-border-flag{border-width:1px;border-style:solid;border-color:#bababa #e9e9e9 #e9e9e9 #bababa;}
/***** 下拉框 *****/
.uew-select{position:relative;}
.uew-select .uew-select-value{z-index:1;position:relative;padding-right:20px;background:#fff;font-size:12px; text-indent:5px;background:url(../images/inputbg.gif) repeat-x;_background:none;_border:none;}
.uew-select-value em{font-style:normal;}
.uew-select .uew-icon{position:absolute;right:5px;top:10px;}
.uew-select select{z-index:2;position:absolute;top:3px;_top:6px;cursor:pointer; height:28px;opacity:0;filter:alpha(opacity=0);}
/***** 去除聚焦虚线框 *****/
a:focus,input[type=checkbox]:focus,input[type=radio]:focus,button:focus,select{outline:none;}
option{overflow:auto;}

/*----------------------------------*
 * 	组件公用图标库         				*
 *----------------------------------*/
.uew-icon,.ue-state-default .uew-icon{display:inline-block;width:16px;height:16px;background-image:url(../images/uew_icon.png);}
.ue-state-hover .uew-icon{background-image:url(../images/uew_icon_hover.png);}
.uew-icon-triangle-1-s{background-position:-80px 0;}

.vocation,.usercity{float:left;}
.cityleft{float:left; padding-right:10px;_padding-right:15px;}
.cityright{float:left;}

#modifyTitle {
	font-weight: bold;
	font-size: 14px;
}
/* dialog end */